.top-body {
    height: 100px;
    width: 100%;
    position: fixed;
    margin: 0 0 50px 0;
    top: 0;
    background-color:aliceblue;
}
.btn {
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px auto 40px auto;
   
  
    
  }
  
  .btn:hover {
    background: #55d9eb;
    background-image: -webkit-linear-gradient(top, #55d9eb, #3498db);
    background-image: -moz-linear-gradient(top, #55d9eb, #3498db);
    background-image: -ms-linear-gradient(top, #55d9eb, #3498db);
    background-image: -o-linear-gradient(top, #55d9eb, #3498db);
    background-image: linear-gradient(to bottom, #55d9eb, #3498db);
    text-decoration: none;
  }
  .contact-me {
    width: 40%;
    text-align: center;
    margin: 20px auto 20px auto;
    
  }
.main-body{
    background-color:lightcyan;
    height:700px;
  
    width: 100%;
   
}
.ook {
    text-decoration:underline ;
}
p {
    line-height: 35px;
}
.intro {
    width: 30%;
    margin: 100px auto 100px auto;
}
.circular {
    position: absolute;
    right: 15px;
  
}
.oval {
    position: absolute;
    left: 15px;
}
.boo {
    position:absolute;
    top: 375px;
    right: 15px;
}
.middle-body {
    background-color: azure;
    
    width: 100%;
    position: absolute;
   


}
.manasi {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
  }
  
.man {

 
    top:43%;
    width: 25%;
    float: right;
    margin-right: 30px;

}

.web {
    
    top:66%;
   
   width: 25%;
    float: left;
    margin-left: 30px;
    }



.mob {
    width: 25%;
    float:right;
    top:83%;
}
body {
    background-color:lightcyan;

}
.bottom-body {
    background-color: ghostwhite;
   
    width: 100%;
    position: relative;
    text-align: center;

   
}
.contact {
    position:absolute;
    top:30px;
    right:3%;
}
.end-body {
    background-color:darkcyan;
    height: 150px;
    width: 100%;
    position: absolute;
    ;
    text-align: center;
}
h1 {
    font-family: 'Sacramento', serif; 
    font-size:80px;
    color:purple;
    margin: 100px;
}
h3 {
    color:darkred;
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Merriweather', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
  
}
h2 {
    font-family: 'Montserrat', serif;
    font-size: 30px;
    color: indigo;
}
h4 {
    font-size: 18px;
    margin: 0 50 0 50;
    color:midnightblue;
}
hr {
    background-color:  ghostwhite;
    border-style:none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-color: grey;
    border-width: 10px;
    margin: 100px auto 100px auto;
}
.skill-row {
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: left;
    line-height: 35px;

}
a:hover {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    margin: 10px 20px;
    font-family: 'Montserrat', serif;
    color: #55d9eb;
}
